
.index_banner {
  background-image: url('../img/banner-bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
 
}

.index_banner_bg{
 background: rgba(255,255,255,0.80);
}
.index_main_slider{
  height: 100vh;
  width: 100vw;
}
.index_slider_content {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  display: grid;
  p:first-child{
    color: $color4;
    font-weight: 700;
    letter-spacing: .3rem;
  }
  h1{
    color: #011a41;
    font-size: 4.8rem;
    font-weight: 900;
    padding: 1rem 0rem;
  }
}

.index_slider_img{
  justify-content: end;
  align-items: center;
  display: grid;
  height: 80rem;
  width: 100%;
  padding-top: 5rem;
  img{
    justify-content: end;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
// index banner button
.button3{
  padding-top: 3.5rem;
  button{
    border:1px solid #fff;
    padding: 1rem 1.5rem;
    background-color: #e93c05;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.40s;
    &:hover{
      background-color: transparent;
      a{color:#000}
    }
    a{
      color: #fff;

    }
  }
}
// animation 
.owl-carousel .owl-item.active .index_slider .index_slider_content p{
  animation: fadeInDown 2s linear; 
}
.owl-carousel .owl-item.active .index_slider .index_slider_content h1{
  animation: fadeInUp 2s linear; 
}
.owl-carousel .owl-item.active .index_slider .index_slider_content button{
  animation: fadeInUp 2s linear; 
}
.owl-carousel .owl-item.active .index_slider .index_slider_img{
  animation: fadeInUp 2s linear; 
  padding: 2rem;
}

// section id 
#section_id{
  position:relative;

}
.index_banner_social{
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 1040;
}
.index_social{
  background-color: #fff;
  padding: .5rem;
  ul li{
    display: block;
    padding: .5rem ;
    margin: .5rem 0rem;
    transition: all 0.40s;
    &:hover{
      background: red;
      a{color: #fff;}
    }
    a{
      font-size: 2rem;
      
    }
   
  }
}
// -------------  whats new slider css start here ---------------------------
.whats_new_slider{
  padding: 1rem;
}
.whats_new_image{
  height: 50rem;
  width: auto;
  img{
    height: 100%;
    width:auto;
    margin: 1rem;
  }
}
.whtas_new_button{
  button{
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    background: #141d3b;
    margin: 0rem 1rem;
    padding: 1rem 0rem;
    a{
      color: #fff;
      text-transform: uppercase;
      padding: 1rem;
    }
  }
}
.whats_new_banner{
  position: relative;

}
.new_prev{
  
  left: 1%;
  top: 40%;
  color: #ffff;
  font-size: 3rem;
  background-color: #141d3b;
  padding: 0rem .5rem;
  border: 1px solid #000;
}
.new_next{
  
  right: 0%;
  top: 40%;
  color: #fff;
  font-size: 3rem;
  background-color: #141d3b;
  padding: 0rem .5rem;
  border: 1px solid #000;
}
// whats new end here ----------

.section_index_banner{
  background-image: url('../img/microfinance.png');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_index_bannerbg{
  background: linear-gradient(311deg, rgba(255,255,255,0.21332282913165268) 26%, rgba(255,255,255,0.9220063025210083) 48%);
}
.secb_con{
  text-align: center;
  padding: 10rem 0rem;
  h1{
    font-size: 5.5rem;
    color: #141d3b;
    font-weight: 900;
  }
  h3{
    color: rgb(20, 109, 211);
    padding: 1.7rem 0rem;
  }
  button{
    text-align: center;
    padding: 1rem 1rem;
    border: 1px solid #ffff;
    background-color: #011a41;
    width: 75%;
    a{
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.2rem;
      letter-spacing:1rem;
    }
  }
}

// ---- section banner end here 
.index_service_loan{
  border: 1px solid #141d3b;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.2rem;
}
.index_service_icon{ 
 span{
  color: #3ca8f0;
  font-size: 3.5rem;
  padding: 1rem;
  height: 6rem;
  width: 6rem;


 }
}
.index_service_loan_con{
  p{
    padding: 2rem 0rem;
    text-transform: capitalize;
    
  }
}
// service overview end
.section_index_banner_saving{
  background-image: url('../img/famil_saving.jpg');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// loean step ----------

.loan_steps{
  padding: 2rem;
  text-align: center;
  height: 40rem;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: grid;
  transition: all 1s;
  &:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .loan_step_icon {
      background-color: #fff;
      border: 1rem solid rgba(233,60,50.99);
      outline: 2.6rem solid rgba(20,29,59,0.99);;
      transition: all 1s;
    }
  }
}
.loan_step_icon{
 height: 8rem;
 width: 8rem;
 justify-content: center;
 align-content: center;
 justify-items: center;
 display: grid;
 border-radius: 50%;
 background-color: #f5af9a;
 border: .7rem solid rgba(233,60,50.36);
 outline: 1.8rem solid rgba(20,29,59,0.36);;
  span{
   font-size: 3.5rem;
   color: #141d3b;
  }
}
.loan_step_cont{
  padding-top: 2rem;
  h3{
    color: #141d3b;
    font-weight: 700;
  }
}
// ----------- client quastin and answr ------
.faqbgimage{
  background-image: url('../img/banner-bg1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.faqbg{
  background: rgba(255,255,255,0.48);
}
.faq_head{
  p:first-child{
    color: #e93c05;
    font-weight: 900;
    letter-spacing: 1rem;
  }
  h2{
    font-weight: 700;
    color: #141d3b;
    padding: 1rem 0rem;
  }
  p:last-child{
    padding-bottom: 2rem;
  }
}
.faq{
  padding: 2rem 4rem;
}
.faq_qus{
 border: 1px solid #011a41;
 margin-bottom: .5rem;

  button{
    background:linear-gradient(90deg, rgba(1,26,65,1) 90%, rgba(255,255,255,1) 10%);
    color: #ffff;
   
  }
 
}
.faq_body{
  background: rgba(20,29,59,0.99);
  margin-bottom: .5rem;
  p{
    color: #fff;
  }
}
.clint_faq_image{
  height: 40rem;
  width: 100%;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: circle(69% at 76% 32%);
  }
}